<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectRestaurant"
        tools:targetApi="31">
        <activity
            android:name=".ui.settings.ActivitySettings"
            android:exported="true"
            android:label="@string/menu_settings"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
        <activity
            android:name=".ui.aboutus.ActivityAboutUs"
            android:exported="true"
            android:label="@string/menu_about_us"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
        <activity
            android:name=".ui.privacypolicy.ActivityPrivacyPolicy"
            android:exported="true"
            android:label="@string/menu_privacy_policy"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
        <activity
            android:name=".ui.loginregister.ActivityLoginRegister"
            android:windowSoftInputMode="stateVisible|adjustNothing"
            android:exported="true"
            android:label="@string/login_title"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
        <activity
            android:name=".ui.order.ActivityOrder"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true"
            android:label="@string/main_new_order">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.account.ActivityAccount"
            android:exported="true"
            android:label="@string/account_title"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
        <activity
            android:name=".ui.userorders.ActivityUserOrders"
            android:exported="true"
            android:label="@string/my_orders_title"
            android:parentActivityName=".ui.order.ActivityOrder">
        </activity>
	</application>
</manifest>